<div class="section-header first">
    <div class="background"></div>
    <div class="container text-center">
        <h2>Dokázali jsme</h2>
        <p>V minulých obdobích jsme zařídili</p>
    </div>
</div>
<div class="gallery">
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <span class="move-top">
                    <div class="btn secondary">Nádraží</div> <br>
                    <div class="btn primary large">Nezavřeme</div>
                </span>
    </div>
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <span class="move-top">
                    <div class="btn secondary">Nádraží</div> <br>
                    <div class="btn primary large">Nezavřeme</div>
                </span>
    </div>
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <span class="move-top">
                    <div class="btn secondary">Nádraží</div> <br>
                    <div class="btn primary large">Nezavřeme</div>
                </span>
    </div>
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <span class="move-top">
                    <div class="btn secondary">Nádraží</div> <br>
                    <div class="btn primary large">Nezavřeme</div>
                </span>
    </div>
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <span class="move-top">
                    <div class="btn secondary">Nádraží</div> <br>
                    <div class="btn primary large">Nezavřeme</div>
                </span>
    </div>
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <span class="move-top">
                    <div class="btn secondary">Nádraží</div> <br>
                    <div class="btn primary large">Nezavřeme</div>
                </span>
    </div>
</div>
