<h2 class="text-center">Naši lidé</h2>
<p class="text-center">Tým co přináší změnu</p>
<div class="monsters big">
    <a href="{{ path('borivojKvetinka') }}" class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
        <div class="btn secondary large">Více</div>
    </a>
    <a href="{{ path('borivojKvetinka') }}" class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
        <div class="btn secondary large">Více</div>
    </a>
    <a href="{{ path('borivojKvetinka') }}" class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
        <div class="btn secondary large">Více</div>
    </a>
    <a href="{{ path('borivojKvetinka') }}" class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
        <div class="btn secondary large">Více</div>
    </a>
    <a href="{{ path('borivojKvetinka') }}" class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
        <div class="btn secondary large">Více</div>
    </a>
</div>
<div class="monsters small">
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <h4>Bořivoj Květinka</h4>
    </div>
</div>
