<h2 class="text-center">Naši lidé</h2>
<p class="text-center">Tým co přináší změnu</p>
<div class="monsters big">
    <a href="{{ path('martinFormanek') }}" class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_17.jpg') }}" alt="">
        <h4><span>MUDr.</span> Martin <br> Formánek </h4>
    </a>
    <a href="{{ path('ladislavVraspir') }}" class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_1.jpg') }}" alt="">
        <h4>Ladislav <br> Vraspír</h4>
    </a>
    <a href="{{ path('petrHavlena') }}" class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_25.jpg') }}" alt="">
        <h4>Petr <br> Havlena</h4>
    </a>
    <a href="{{ path('josefKopecky') }}" class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_8.jpg') }}" alt="">
        <h4><span>Mgr.</span> Josef <br> Kopecký</h4>
    </a>
    <a href="{{ path('miloslavCink') }}" class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_23.jpg') }}" alt="">
        <h4><span>Ing.</span> Miloslav <br> Cink</h4>
    </a>
{#    <a href="{{ path('borivojKvetinka') }}" class="monster">#}
{#        <img src="{{ asset('build/website/img/mini_people/person_17.jpg') }}" alt="">#}
{#        <h4>MUDr. Martin <br> Formánek </h4>#}
{#        <div class="btn secondary large">Více</div>#}
{#    </a>#}
{#    <a href="{{ path('borivojKvetinka') }}" class="monster">#}
{#        <img src="{{ asset('build/website/img/mini_people/person_1.jpg') }}" alt="">#}
{#        <h4>Ladislav <br> Vraspír</h4>#}
{#        <div class="btn secondary large">Více</div>#}
{#    </a>#}
{#    <a href="{{ path('borivojKvetinka') }}" class="monster">#}
{#        <img src="{{ asset('build/website/img/mini_people/person_25.jpg') }}" alt="">#}
{#        <h4>Petr <br> Havlena</h4>#}
{#        <div class="btn secondary large">Více</div>#}
{#    </a>#}
{#    <a href="{{ path('borivojKvetinka') }}" class="monster">#}
{#        <img src="{{ asset('build/website/img/mini_people/person_8.jpg') }}" alt="">#}
{#        <h4>Mgr. Josef <br> Kopecký</h4>#}
{#        <div class="btn secondary large">Více</div>#}
{#    </a>#}
{#    <a href="{{ path('borivojKvetinka') }}" class="monster">#}
{#        <img src="{{ asset('build/website/img/mini_people/person_23.jpg') }}" alt="">#}
{#        <h4>Ing. Miloslav <br> Cink</h4>#}
{#        <div class="btn secondary large">Více</div>#}
{#    </a>#}
</div>
<div class="monsters small">
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_12.jpg') }}" alt="">
        <h4>Roman <br> Klimeš</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_13.jpg') }}" alt="">
        <h4><span>Mgr.</span> Marek <br> Hylena</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_3.jpg') }}" alt="">
        <h4>Ladislav <br> Vraspír <span>ml.</span></h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_5.jpg') }}" alt="">
        <h4><span>Mgr.</span> Hana <br> Frűhaufová</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_11.jpg') }}" alt="">
        <h4><span>Mgr.</span> Martin <br> Schwarzbach</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_15.jpg') }}" alt="">
        <h4><span>Ing.</span> Pavel <br> Kohoutek</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_30.jpg') }}" alt="">
        <h4>Karel <br> Dohnal</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_19.jpg') }}" alt="">
        <h4><span>RNDr.</span> Vlastimil <br> Hruška</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_10.jpg') }}" alt="">
        <h4>Šárka <br> Mikulecká</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_31.jpg') }}" alt="">
        <h4>Martin <br> Fohl</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_24.jpg') }}" alt="">
        <h4>Milan <br> Beran</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_18.jpg') }}" alt="">
        <h4>Hana <br> Vraspírová</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_9.jpg') }}" alt="">
        <h4><span>Ing. arch.</span> Lubomír <br> Fiala</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_22.jpg') }}" alt="">
        <h4>Jan <br> Pidima</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_14.jpg') }}" alt="">
        <h4>Martina <br> Suková</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_7.jpg') }}" alt="">
        <h4>Filip <br> Mareš</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_21.jpg') }}" alt="">
        <h4>Martin <br> Fohl <span>ml.</span></h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_16.jpg') }}" alt="">
        <h4>Rita <br> Horváthová</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_6.jpg') }}" alt="">
        <h4>Lenka <br> Pirklová</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_20.jpg') }}" alt="">
        <h4>Miroslav <br> Bartoš</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_4.jpg') }}" alt="">
        <h4><span>Mgr. art.</span> Jana <br> Ženková</h4>
    </div>
    <div class="monster">
        <img src="{{ asset('build/website/img/mini_people/person_2.jpg') }}" alt="">
        <h4><span>Bc.</span> Michaela <br> Štarmanová</h4>
    </div>



</div>
