{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/layouts/menu.html.twig' with { homepage:  false } %}
    <div class="content">
        <div class="container">

            <p>Zasadíme se o:</p>
            <h1>Kulturní a sportovní město</h1>

            <p class="pb2 bb mb3 left">Naší prioritou je přestavba areálu Svářečské školy v novou <span class="text-highlight">moderní městskou knihovnu</span>.</p>
            <p class="pb2 bb mb3 right">Staticky zajistíme a <span class="text-highlight">dostavíme Malou scénu</span>.</p>
            <p class="pb2 bb mb3 left">Budovu Kulturního centra <span class="text-highlight">vybavíme klimatizací</span>.</p>

            <p class="pb2 bb mb3 right">Zasadíme se o <span class="text-highlight">rekonstrukci krytého bazénu</span> – snížíme jeho energetickou náročnost formou solárního ohřevu vody,
                zatraktivníme venkovní prostory.</p>
            <p class="pb2 bb mb3 left">Postavíme důstojné zázemí pro <span class="text-highlight">hokejbalový stadion</span>.</p>
            <p class="pb2 bb mb3 right">Podpoříme výstavbu zázemí pro <span class="text-highlight">atletický stadion</span>.</p>
            <p class="pb2 bb mb3 left">Zajistíme rekonstrukci a zatraktivnění <span class="text-highlight">sportovního areálu Hory</span>.</p>
            <p class="pb2 bb mb3 right">Zmodernizujeme zázemí <span class="text-highlight">areálu Peklák</span>.</p>

            <div style="height: 10rem" id="dokazali-jsme"></div>
            <h2>Dokázali jsme pro sport a&nbsp;kulturu</h2>
            <div class="gallery">
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8268.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Památky</div> <br>
                    </div>
                    <p class="text-left">Zasadili jsme se o rekonstrukce památek v našem městě včetně chaloupky Maxe Švabinského v Kozlově, kostela sv. Jakuba nebo kaple Panny Marie Pomocné na Horách, hrobů v majetku města (včetně Rybičkovy hrobky), soch, pomníků a křížů. Celkové náklady byly 6,8 mil. Kč.</p>
                    <p class="text-left mb3">Snažili jsme se zachránit Vanického vilu v areálu firmy Korado.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8143.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Kulturní centrum</div> <br>
                    </div>
                    <p class="text-left mb3">Investice do Kulturního centra dosáhly výše 13,9 mil. Kč. Zásadními položkami byla výměna plátna a technologie kina za 3 mil. Kč, oprava střech na budově KC i Malé scény - a v rozpočtu schválené statické zajištění Malé scény za 9,9 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_7864.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Areál Peklák</div> <br>
                    </div>
                    <p class="text-left mb3">Zdaleka největší investicí zcela realizovanou v tomto volebním období bylo vybudování tras Single track Glacensis, resp. jeho nástupního místa v areálu Peklák a doplnění spojek tratí na Bike resortu v této lokalitě. Rozpočet na letošní rok potom počítá s penězi na výstavbu nového zázemí areálu. Celkové náklady města v areálu dosáhly ve 4 letech 22,7 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_7879.JPG') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Atletický stadion</div> <br>
                    </div>
                    <p class="text-left mb3">Druhou největší investicí, která se ovšem protáhla již z minulého volebního období, kdy jsme ovšem byli také součástí radniční koalice, byla výstavba, resp. její dokončení atletického stadionu na Skalce. Poslední výdaje spojené se stadionem se týkají vybudování tribuny a šaten. Celkem bylo do atletického stadionu v letech 2018 – 2022 investováno 33,3 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_7895.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">hokejbalový areál Benátky</div> <br>
                    </div>
                    <p class="text-left mb3">Ve stejné výši 0,4 mil. Kč. bylo investováno také do oplocení hokejbalového areálu v Benátkách. Nutné je zde ovšem do budoucna počítat se zásadní investicí do vybudování zázemí.</p>
                </div>
            </div>
            <div class="gallery">
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">Městská knihovna</div> <br>
                    </div>
                    <p class="text-left mb3">Investice do Městské knihovny dosáhly (krom běžných oprav a údržby) celkových nákladů ve výši 4,7 mil. Kč, nejzásadnější položkou za 3 mil. Kč je zpracování PD rekonstrukce bývalé Svářečské školy na novou, moderní městskou knihovnu.</p>
                </div>
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">Městské muzeum</div> <br>
                    </div>
                    <p class="text-left mb3">Do Městského muzea bylo v uplynulých letech nainvestováno 2 mil. Kč, které z většiny mířily na úpravy depozitáře v Borku.</p>
                </div>
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">Zimní stadion</div> <br>
                    </div>
                    <p class="text-left mb3">Investici ve výši 0,4 mil. Kč si vyžádal také zimní stadion – na opravu kompresorů.</p>
                </div>
            </div>

            <div style="height: 10rem" id="prosadime"></div>
            <h2>Prosadíme pro sport a&nbsp;kulturu</h2>
            <div class="gallery">
                <div class="block">

                    <img src="{{ asset('build/website/img/photos_plans/velorex.jpg') }}" alt="">

                    <div class="move-top">
                        <div class="btn secondary large">Muzeum VELOREXu</div> <br>
                    </div>
                    <p class="text-left">Ve dvorním traktu Městského muzea chceme rozšířit expozici Velorex. K akci je vydáno stavbení povolení, náklady jsou včetně vybavení vyčísleny na 19,9 mil. Kč.</p>
                    <p class="text-left mb3">Zároveň navrhujeme přemístění depozitáře muzea do krytu CO Javorka a jeho adaptaci pro tyto účely. Objekt generálního štábu v Borku chceme poté nabídnout k prodeji.</p>
                </div>
                <div class="block">

                    <img src="{{ asset('build/website/img/photos_plans/mala-scena.jpg') }}" alt="">

                    <div class="move-top">
                        <div class="btn secondary large">Malá scéna</div> <br>
                    </div>
                    <p class="text-left">Staticky zajistíme a dostavíme Malou scénu. Připraven po dokumentaci ke stavebnímu povolení je celý projekt, který počítá i s úpravou venkovního prostoru. Náklady jsou vyčísleny na 12 mil. Kč.</p>
                    <p class="text-left mb3">Budovu Kulturního centra vybavíme klimatizací. Náklady jsou odhadovány na 10 mil. Kč.</p>
                </div>
                <div class="block">

                    <img src="{{ asset('build/website/img/photos_plans/dsc-7903.jpg') }}" alt="">

                    <div class="move-top">
                        <div class="btn secondary large">Hokejbalový stadion</div> <br>
                    </div>
                    <p class="text-left mb3">Postavíme důstojné zázemí pro hokejbalový stadion. Vypracována je dokumentace pro územní řízení, která počítá s náklady ve výši 24,3 mil. Kč.</p>
                </div>
                <div class="block">

                    <img src="{{ asset('build/website/img/photos_plans/dsc-7878.jpg') }}" alt="">

                    <div class="move-top">
                        <div class="btn secondary large">Atletický stadion</div> <br>
                    </div>
                    <p class="text-left mb3">Podpoříme výstavbu zázemí pro atletický stadion. Zpracována je dokumentace k provedení stavby, která počítá s náklady 15 mil. Kč.</p>
                </div>
                <div class="block">

                    <img src="{{ asset('build/website/img/photos_plans/zazemi-peklak.jpg') }}" alt="">

                    <div class="move-top">
                        <div class="btn secondary large">Areál Peklák</div> <br>
                    </div>
                    <p class="text-left mb3">Zmodernizujeme zázemí areálu Peklák. V nejširší verzi na jeho výstavbu počítají studie s náklady ve výši 22,8 mil. Kč.</p>
                </div>
            </div>
            <div class="gallery">
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">Městská knihovna</div> <br>
                    </div>
                    <p class="text-left mb3">Naší absolutní prioritou je přestavba areálu Svářečské školy v novou moderní městskou knihovnu. Pro tento investiční záměr existuje dokumentace pro stavební povolení. Celkové investiční náklady stavby jsou 87,1 mil. Kč.</p>
                </div>
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">Plavecký bazén</div> <br>
                    </div>
                    <p>Zasadíme se o rekonstrukci krytého plaveckého bazénu – snížíme jeho energetickou náročnost formou solárního ohřevu vody, zatraktivníme venkovní prostory. Zatím je zpracována studie na rekonstrukci střechy, která počítá s náklady 5,4 mil. Kč.</p>
                </div>
            </div>

            <div style="height: 20rem"></div>
        </div>


        {% include 'components/blocks/program.html.twig' %}

        {% include 'components/blocks/calendar.html.twig' %}

        <hr>
    </div>
{% endblock %}
