{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/layouts/menu.html.twig' with { homepage:  false } %}
    <div class="content">

        <div class="container">

            <p>Zasadíme se o:</p>
            <h1>Vzdělané město</h1>


            <p class="pb2 bb mb3 left"><span class="text-highlight">Dokončíme opravy</span> školských zařízení a zajistíme jejich pravidelnou údržbu.</p>
            <p class="pb2 bb mb3 right"><span class="text-highlight">Přispějeme školám na mzdy</span> asistentů pedagogů, speciálních pedagogů a školních psychologů.</p>
            <p class="pb2 bb mb3 left">Podpoříme <span class="text-highlight">modernizaci učeben</span>.</p>
            <p class="pb2 bb mb3 right">Vyčleníme prostředky na nákup inovativních a inspirativních pomůcek a výukových materiálů.</p>
            <p class="pb2 bb mb3 left">Podpoříme zapojení <span class="text-highlight">informačních technologií</span> napříč všemi předměty.</p>
            <p class="pb2 bb mb3 right">Zasadíme se o zřízení <span class="text-highlight">venkovních učeben</span>.</p>
            <p class="pb2 bb mb3 left"><span class="text-highlight">Podpoříme </span>umělecké, sportovní a volnočasové <span class="text-highlight">aktivity žáků</span>.</p>
            <p class="pb2 bb mb3 right">Zajistíme <span class="text-highlight">nepřetržitý provoz</span> alespoň jedné <span class="text-highlight">MŠ i během letních prázdnin</span>.</p>
            <p class="pb2 bb mb3 right">Dle možností města podpoříme i krajská a soukromá školská zařízení.</p>
            <p class="pb2 mb3 left">Zahájíme diskusi o lepších prostorech pro ZUŠ a DDM, které by vyhovovaly moderním potřebám těchto
                zařízení.</p>

            <div style="height: 10rem" id="dokazali-jsme"></div>
            <h2>Dokázali jsme ve školství</h2>
            <div class="gallery">
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8187.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">MŠ U Stadionu</div> <br>
                    </div>
                    <p class="text-left mb3">Realizovali jsme kompletní zateplení budovy, úpravu sušárny na třídu, osazení nové vzduchotechniky s&nbsp;rekuperací a další úpravy interiéru i exteriéru v&nbsp;celkové hodnotě 27,4 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/IMG_0256.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">MŠ Habrmanova</div> <br>
                    </div>
                    <p class="text-left mb3">Vedle zateplení budovy realizované ve třech letech jsme opravili podlahy, osadili vzduchotechniku s&nbsp;rekuperací, upravili školní zahradu. Investováno bude letos také do rekonstrukce sociálního zařízení a výměny osvětlení. Celkové náklady v&nbsp;posledních 4 letech dosáhly částky 26,5 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8069.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">MŠ U Koupaliště</div> <br>
                    </div>
                    <p class="text-left mb3">Zásadní investicí z&nbsp;celkových 14,5 mil. Kč byla kontejnerová dostavba MŠ za 10,8 mil. Kč realizovaná v&nbsp;loňském roce. Vedle toho se školka dočkala rekonstrukce sociálního zařízení, rekonstrukce vzduchotechniky, úprav zahrady a dětského hřiště a dalších menších oprav.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8169.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">ZŠ Habrmanova</div> <br>
                    </div>
                    <p class="text-left mb3">Zásadní investiční položkou na ZŠ Habrmanova bylo zateplení budov za 33,3 mil. Kč. Celkové náklady dosáhly 45,6 mil. Kč a investováno bylo dále do rekonstrukce sociálního zařízení a vytápění tělocvičny, rekonstrukce vzduchotechniky jídelny, opravy šaten a chodeb 1. stupně, nachystáno a v&nbsp;rozpočtu kryto je osazení předokenních žaluzií, úpravy vstupního prostranství či zastřešení rampy jídelny.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8147.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">ZŠ Nádražní</div> <br>
                    </div>
                    <p class="text-left mb3">Do ZŠ Nádražní bylo v&nbsp;uplynulých letech investováno celkem 11,1 mil. Kč. Jednalo se o rekonstrukci střechy, učeben, sociálního zařízení, plynové kotelny, knihovny, osazení klimatizace na budově 1. stupně, rekonstrukci podlah, osvětlení a skladu tělocvičny.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8239.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">ZUŠ Česká Třebová <br>a DDM Kamarád</div> <br>
                    </div>
                    <p class="text-left mb3">Vedle běžných oprav a údržby bylo do budov Základní umělecké školy investováno 1,2 mil. Kč. Zásadní investicí byly stavební úpravy budovy DDM Kamarád, do nichž bylo investováno téměř 12,5 mil. Kč. Na letošní rok jsou v&nbsp;rozpočtu schváleny stavební úpravy bývalého Úřadu práce, který bude nově sloužit DDM Kamarád.</p>
                </div>
            </div>
            <div class="gallery">
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">MŠ Vinohrady</div> <br>
                    </div>
                    <p class="text-left mb3">Celkové náklady na vyjmenované větší investiční akce dosáhly částky 1,6 mil. Kč. Jednalo se především o rekonstrukce sociálního zařízení a opravu regulace plynových kotlů.</p>
                </div>
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">ZŠ Ústecká</div> <br>
                    </div>
                    <p class="text-left mb3">Parnická škola se konečně dočkala investic, v&nbsp;uplynulých 4 letech v&nbsp;celkové výši 24,9 mil. Kč. To ale jistě nebudou poslední nutné investice do jejích budov a areálu. V&nbsp;letech 2018-2022 byly provedeny stavební úpravy školičky, prvního i druhého stupně. Rekonstruováno bylo sociální zařízení, střešní krytina i plynová kotelna.</p>
                </div>
            </div>



            <div style="height: 10rem" id="prosadime"></div>
            <h2>Prosadíme ve školství</h2>
            <div class="gallery">
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8169.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">ZŠ HABRMANOVA</div> <br>
                    </div>
                    <p class="text-left mb3">Poslední částí kompletní rekonstrukce ZŠ Habrmanova je přeměna vstupního prostoru, který by měl doznat změn tak, aby nabídl čekajícím rodičům, ale i samotným školákům větší komfort. Odhadované náklady 1,5 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_plans/venkovni-ucebna.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Venkovní učebny</div> <br>
                    </div>
                    <p>Zasadíme se o zřízení venkovních učeben.</p>
                </div>
            </div>

            <div class="gallery">
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">ZŠ ÚSTECKÁ</div> <br>
                    </div>
                    <p class="text-left">Dlouhodobě upozaděná byla ZŠ Ústecká. Máme zpracovánu dokumentaci k&nbsp;provedení stavby na rekonstrukci celého sportovního areálu školy, jejíž náklady by měly být ve výši 13,3 mil. Kč.</p>
                    <p class="text-left mb3">Další zpracované dokumentace počítají s&nbsp;další rekonstrukcí budov, výměnou osvětlení učeben, tělocvičny, ale i s&nbsp;rekonstrukcí celého exteriéru školy včetně oplocení. Náklady podle dokumentací by měly být ve výši 21,9 mil. Kč.</p>
                </div>
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">ZUŠ a DDM</div> <br>
                    </div>
                    <p>Zahájíme diskusi o lepších prostorech pro ZUŠ a DDM, které by vyhovovaly moderním potřebám těchto zařízení.</p>
                </div>

            </div>

            <div style="height: 10rem"></div>
        </div>

        {% include 'components/blocks/program.html.twig' %}

        <br><br><br>
    </div>
{% endblock %}
