{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/layouts/menu.html.twig' with { homepage:  false } %}
    <div class="content">
        <div class="container">

            <h1>ZELENÉ MĚSTO - MĚSTO ZELENĚ</h1>

            <p class="pb2 bb mb3 left">Dokončíme úpravy <span class="text-highlight">parku u krematoria</span>.</p>
            <p class="pb2 bb mb3 right"><span class="text-highlight">Revitalizujeme parky</span> Na Zámostí, Kobylí důl, Bezděkov i oblast Hlubočku.</p>
            <p class="pb2 bb mb3 left">V Javorce vybudujeme nový veřejně přístupný <span class="text-highlight">pavilon</span>.</p>
            <p class="pb2 mb3 right">Na louce v Javorce pod horním vodárenským objektem vytvoříme dle zájmu rodičů <span class="text-highlight">Sad novorozeňat</span> z okrasných ovocných stromů.</p>

            <div style="height: 10rem" id="dokazali-jsme"></div>
            <h2>Dokázali jsme pro zeleň</h2>
            <p>V minulém volebním období jsme do parků, zeleně, veřejných prostranství a hřišť investovali 12,2 mil. Kč mimo pravidelnou údržbu, prořezy, sekání a opravy či výměnu mobiliáře.</p>
            <div class="gallery">
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8669.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Park u krematoria</div> <br>
                    </div>
                    <p class="text-left mb3">Prosadili jsme začátek úprav parku u krematoria a Na Zámostí, jak jsme slíbili v našem programu 2018.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8257.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Park Javorka</div> <br>
                    </div>
                    <p class="text-left mb3">Do Javorky bylo investováno 3,5 mil. Kč, zpevněny byly páteřní parkové cesty, zřízena byla veřejná griloviště a vybudováno bylo veřejné WC.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8086.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Tyršovo náměstí</div> <br>
                    </div>
                    <p class="text-left mb3">Zásadní proměnou prošlo Tyršovo náměstí, do jehož sadových úprav bylo investováno 1,1 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8064.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">park za DPS</div> <br>
                    </div>
                    <p class="text-left mb3">RProsadili jsme začátek úprav parku u krematoria a Na Zámostí, jak jsme slíbili v našem programu 2018.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8252.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Dětské a sportovní hřiště Trávník</div> <br>
                    </div>
                    <p class="text-left mb3">Investovali jsme 5,4 mil. Kč do vybudování nového hřiště.</p>
                </div>
            </div>


            <div style="height: 10rem" id="prosadime"></div>
            <h2>Prosadíme pro zeleň</h2>
            <div class="gallery">
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8682.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Park u krematoria</div> <br>
                    </div>
                    <p class="text-left mb3">Dokončíme úpravy parku u krematoria.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_plans/altan-zamosti-2.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Revitalizace parků</div> <br>
                    </div>
                    <p class="text-left mb3">Revitalizujeme parky Na Zámostí, Kobylí důl, Bezděkov i oblast Hlubočku.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_plans/javorka-altan-svetla.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Park Javorka</div> <br>
                    </div>
                    <p class="text-left mb3">V Javorce vybudujeme nový veřejně přístupný pavilon - „altán světla“ pro relaxaci, svatby a jiné slavnosti, i jako úkryt před deštěm.</p>
                </div>
            </div>
            <p>Na louce v Javorce pod horním vodárenským objektem vytvoříme dle zájmu rodičů Sad novorozeňat z okrasných ovocných stromů.</p>

            <div style="height: 20rem"></div>
        </div>

        {% include 'components/blocks/program.html.twig' %}

        {% include 'components/blocks/calendar.html.twig' %}

        <hr>
    </div>
{% endblock %}
