<footer id="kontakt">
    <h2 class="text-center">Kontakt</h2>
    <p class="text-center mb5">Jsme tady pro vás</p>
    <div class="grid">
        <h3 class="text-center">info@odsct.cz</h3>
        <h3 class="text-center">777 111 222</h3>
    </div>
    <div class="socnets">
        <a href="#">
            <img src="{{ asset('build/website/img/icons/twitter-brands.svg') }}" alt="">
        </a>
        <a href="#">
            <img src="{{ asset('build/website/img/icons/instagram-brands.svg') }}" alt="">
        </a>
        <a href="#">
            <img src="{{ asset('build/website/img/icons/linkedin-in-brands.svg') }}" alt="">
        </a>
        <a href="#">
            <img src="{{ asset('build/website/img/icons/reddit-alien-brands.svg') }}" alt="">
        </a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id tincidunt dolor. Fusce luctus erat tortor, et malesuada ligula aliquet et. In pellentesque, elit id fermentum posuere, risus turpis commodo tortor,</p>

    <hr class="mt5 mb10">
    <h2 class="text-center mb3">Chceš pomoct městu?</h2>
    <p class="text-center">Chceme rozvíjet město odpovědným vedením.</p>
    <p class="text-center mb3">Zapojit se můžeš i ty!</p>
    <div class="grid ">
        <h3 class="text-center">clenstvi@odsct.cz</h3>
        <h3 class="text-center">777 111 333</h3>
    </div>

    <hr class="mb10 mt10">
    <div class="grid">
        <div class="github">
            <a href="https://github.com/odsceskatrebova/communal-election-website-2022">
                <img src="{{ asset('build/website/img/icons/github-brands.svg') }}" alt="">
                <span>
                    Našli jste chybu?
                </span>
            </a>
            <p class="mt3">Věříme v otevřené město, <br> proto i tento web je opensource.</p>

        </div>
        <div class="copy">
            &copy; 2022 ODS
        </div>
    </div>
</footer>
